---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { BLOG } from "@consts";
import { getPostsGroupedByYear } from "@lib/content";

const postsByYear = await getPostsGroupedByYear();
---

<Layout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="space-y-4">
          {
            postsByYear.map(({ year, posts }, yearIndex) => (
              <details class="group/year space-y-4" open={yearIndex < 2}>
                <summary class="flex cursor-pointer list-none items-center justify-between border-b border-black/10 pb-2 text-black transition-colors marker:hidden hover:text-[var(--color-accent)] dark:border-white/10 dark:text-white [&::-webkit-details-marker]:hidden">
                  <span class="flex items-center gap-2 font-semibold">
                    <span class="inline-block transition-transform group-open/year:rotate-90">
                      ›
                    </span>
                    {year}
                  </span>
                  <span class="text-xs font-normal text-black/45 dark:text-white/45">
                    {posts.length} posts
                  </span>
                </summary>
                <div class="pt-4">
                  <ul class="not-prose flex flex-col gap-4">
                    {posts.map((post) => (
                      <li>
                        <ArrowCard entry={post} />
                      </li>
                    ))}
                  </ul>
                </div>
              </details>
            ))
          }
        </div>
      </div>
    </aside>
  </Container>
</Layout>
