---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import { type BlogPost, getTagsWithPosts } from "@lib/content";

export async function getStaticPaths() {
  const tags = await getTagsWithPosts();

  return tags.map(({ tag, posts }) => ({
    params: { id: tag },
    props: {
      posts,
    },
  }));
}

type Props = {
  posts: BlogPost[];
};

const { id } = Astro.params;
const { posts } = Astro.props as Props;
const postColumns = [
  posts.filter((_, index) => index % 2 === 0),
  posts.filter((_, index) => index % 2 === 1),
];
---

<Layout title={`Tag: ${id}`} description={`Posts tagged ${id}`}>
  <Container size="page">
    <div class="space-y-10" data-pagefind-ignore>
      <BackToPrevious href="/tags">All tags</BackToPrevious>
      <h1 class="font-semibold text-black dark:text-white">
        Posts tagged "{id}"
      </h1>
      <ul class="grid lg:hidden">
        {
          posts.map((post) => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="hidden gap-x-8 lg:grid lg:grid-cols-2">
        {
          postColumns.map((column) => (
            <ul>
              {column.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))}
            </ul>
          ))
        }
      </div>
    </div>
  </Container>
</Layout>
